<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class="jquery">TOP</h1>
      <div class="box1"></div>
      <p>topページの詳細</p>
    </div>
  </div>
</div>

<script src="jquery.min.js"></script>
<script src="packs/application.js"></script>