<header>
  <din class="container">
    <div class="d-flex justify-content-between">
      <h1>JS</h1>
        <div class="f-flex flex-column">
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF5EE;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </din>
</header>